[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
resume-parser = "*"
en-core-web-sm = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz"}
importlib-metadata = "==3.2.0"

[dev-packages]

[requires]
python_version = "3.9"
